body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(194, 185, 187, 0.267);
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(194, 185, 187, 0.884);
    border-radius: 20px;
}

label {
    margin-bottom: 4px;
}

.form__input {
    width: 400px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.solved_way_options {
    display: flex;
    justify-content: center;
  }
  
  .solved_way_option {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .solved_way_option.active {
    background-color: #ccc;
  }

button{
    background-color: rgba(22, 30, 133, 0.5);
    color: white;
    width: 150px;
    height: 25px;
    padding: 4px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(22, 30, 133, 0.9);
}