<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N-Queens-Backtracking</title>
<link rel="stylesheet" href="{{url_for('static',filename='main.css' )}}"></>
</head>
<body>
    <div class="container">
<form>
      
        <div class="form_container">
            <input type="number" name="n_queens_input" placeholder="Enter the number of Queens." class="form__input" id="n_queens_input" />
            <hr>
            <button id="btn">Submit</button>
        <h1 id="error_message" style="color: rgba(221, 51, 51, 0.89); display:none">Invalid Request because of not send the number of Queens</h1>
        </div>
        <br>
        <div id="result" style="text-align: center;">
        </div>
</form>
    </div>
<script src="{{url_for('static',filename='index.js' )}}"></script>
</body>
</html>